



/* .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .advice-box {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .advice-box h2 {
    margin: 0 0 0.5rem;
  }
  
  .advice-box p {
    margin: 0;
  }
   */












   body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #dd8838;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid palegreen;
    padding: 1rem;
    margin: 1rem 0;
}

.image-container {
    width: 75%;
    height: auto;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 200px);
}

.message-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
}

.quart-ecran {
    flex-basis: 45%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 600px) {
    .quart-ecran {
        flex-basis: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.advice-box {
    flex: 1 1 200px;
    max-width: 300px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.advice-box h2 {
    margin: 0 0 0.5rem;
}

.advice-box p {
    margin: 0;
}







