

// src/frontAssets/css/Counter.css

.counter-body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.counter-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.compteur {
    height: 33.333vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.compteur h2 {
    text-align: center;
    margin-bottom: 20px;
}

.compteur-container {
    display: table;
    margin-bottom: 20px;
}

.compteur p {
    display: table-row;
}

.compteur span, .compteur label {
    display: table-cell;
    padding: 5px;
    text-align: left;
    border: 1px solid #ccc;
}

.compteur input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.compteur-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.compteur input {
    width: 50%;  /* Ajustez cette valeur pour modifier la largeur des champs de saisie */
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}

.btn {
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    padding: 8px 16px;  /* Réduisez ces valeurs pour rendre les boutons plus petits */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;  /* Réduisez cette valeur pour réduire la taille du texte dans les boutons */
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}

.counter-footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .compteur input {
    width: 50%;  /* Ajustez cette valeur pour modifier la largeur des champs de saisie */
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
}
  
  form button:hover {
    background-color: #45a049;
  }
  
  .total {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  






























